@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Ubuntu:wght@500&display=swap');
.container {
  padding: 18px;
  color: white;
  background-color: black;
  min-height: 100vh;
}
.settingsHeading {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
}
.settingsCard {
  background-color: #0c0b0b;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}
.statsCard {
  background-color: #0c0b0b;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.statsInfo {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.statsNameRow {
  width: 120px;
  text-align: right;
}
.statsValRow {
  padding-left: 15px;
  width: 120px;
  text-align: left;
}
.cardHeading {
  font-family: 'Open Sans', sans-serif;
  color: #7a7979;
  font-size: 19px;
  font-weight: bold;
  margin-top: 15px;
}
.divider {
  background: gray;
  margin-top: 25px;
}
.divider2 {
  background: gray;
  margin-top: 5px;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.numberSlider {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
.cardAction {
  background-color: #007aff;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 15px;
  border: none;
  width: 11em;
  height: 2.5em;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}
.backText {
  margin-top: -5px;
  text-decoration: none;
  color: #007aff;
  font-size: 17px;
}

.settingsIcon {
  margin-top: -5px;
  margin-right: 10px;
  font-size: 20px;
}
